<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
    	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <dubbo:service registry="witparking-dubbo-registry"
                   interface="witparking.parkingservice.interfaces.IParkingOrderService"
                   ref="parkingOrderService" version="2.0" protocol="dubbo" timeout="5000000"/>

    <dubbo:service registry="witparking-dubbo-registry"
                   interface="witparking.parkingservice.interfaces.IParkingOrderStatusService"
                   ref="parkingOrderStatusService" version="2.0" protocol="dubbo" timeout="5000000"/>

    <dubbo:service registry="witparking-dubbo-registry"
                   interface="witparking.parkingservice.interfaces.parking.INoDeviceParkingService"
                   ref="noDeviceParkingService" version="2.0" protocol="dubbo" timeout="5000000"/>

</beans>